body
{
	background-color:#eee;
	font-family:Arial;
	width:100%;
	margin:auto;
}
/*Quote style*/
blockquote
{
	font-style:italic;
	padding:10px 25px;
	margin:0px;
	border-left:5px solid #ddd;
	line-height:1.4;
}

/*Prev/Next button style*/
button
{
	background-color: #769C8C;
	color: #fff;
	padding:15px 35px;
	border:none;
	border-radius:5px;
	font-weight: bold;
}

button:hover
{
	background-color: #CEE8DD;
	color: black;
}

button:hover .arrow
{
	border-color: black;
}

/*Create Next/Prev button  arrows*/
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left:5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right:5px;
}

		
/*Moves next and prev buttons to right*/
#buttonholder
{
	margin: auto 0 auto auto;
}

button:hover
{
	cursor: pointer;
}

.row
{
	display:flex;
}

/*Splits question/answer into 2 columns*/
.column
{
	flex: 50%;
	margin:50px;
}

/*Top bar style*/
#barholder
{
	background-color:#fff;
	margin-top:0px;
	margin-bottom: 25px;
}

#testbar
{
	display:flex;
}

/*Main body style*/
.content
{
	width:90%;
	margin:auto;
	background-color:#fff;
	border-radius: 5px;
}

/*Link style*/
a
{
	text-decoration:none;
}

.refresh, a, a:visited
{
	color: #769C8C;
}

.refresh:hover, a:hover
{
	cursor:pointer;
	color: #CEE8DD;
}

/*Set padding for homepage and result*/
.singlecolumn
{
	padding:50px;
}

/*Answer style*/
.column li
{
	list-style: none;
	margin:40px 0px;
}

/*Test list style*/
.singlecolumn li
{
	list-style: none;
	margin:0px;
	padding:0px;
}

/*Customize the label*/
.radiotext {
	display: block;
	cursor: pointer;
	font-size: 22px;
	border-radius: 10px;
	border: 2px solid #eee;
	padding: 20px 20px 20px 75px;
	appearance: button; -webkit-appearance: button; -moz-appearance: button; -ms-appearance: button;
}

/*Moves radio button to answer*/
li	
{	
	position: relative;	
	-webkit-user-select: none;	
	-moz-user-select: none;	
	-ms-user-select: none;	
	user-select: none;	
}

/*Hide the browser's default radio button*/
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*Create a custom radio button*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin:20px;
  border: 1px solid #eee;
}

/*When hovered, change background of answer*/
.radiotext:hover {
  background-color: #CEE8DD;
}

/*When checked, add a green background to radio button*/
input:checked ~ .checkmark {
  background-color: #769C8C;
  border: 1px solid #eee;
}
/*When checked, add greenbackground to answer*/
input:checked ~ .radiotext {
  background-color: #769C8C;
  color:#fff;
}

/*Create the indicator (the dot/circle - hidden when not checked)*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*Show the indicator (dot/circle) when checked*/
input:checked ~ .checkmark:after {
  display: block;
}
