<html>
	<head>
		<link rel="stylesheet" href="styles.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>
	<body>
		<div id="app">
			<div id="barholder">
                <!-- Go to home page -->
                <button id="home" v-on:click="gohome">
                    <h1><i class="arrow left"></i></h1>
                </button>
			    <div class="content" id="testbar">
					<h1 v-if="test.questions.length > 1">{{ test.questions[0].name }}</h1>
					<div class="buttonholder">
						<!-- Prev is hidden on first question -->
						<button v-show="questionIndex > 0 && questionIndex < test.questions.length" v-on:click="prev">
							<i class="arrow left"></i>Prev 
						</button>
                        <!-- Next is shown when an answer is selected-->
						<button v-show="userResponses[questionIndex] != null" v-on:click="next">
							Next<i class="arrow right"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="content">
			  <!-- index is used to check with current question index -->
			  <div v-for="(question, index) in test.questions">
				<!-- Hide all questions, show only the one with index === to current question index -->
				<div class="row" v-show="index === questionIndex">
					<div class="column">
						<h2>{{ question.question }}</h2>
						<blockquote>{{ question.quote }}</blockquote>
					</div>
					<!-- for each response of the current question -->
					<div class="column">
					<h4>SELECT ONLY ONE</h4>
						<li v-for="(response, optionindex) in question.answers">
						  <label>
							<!-- The radio button has three new directives -->
							<!-- v-bind:value sets "value" to the index of the answer
							<!-- v-bind:name sets "name" to question index to group answers by question -->
							<!-- v-model creates binding with userResponses -->
							<input class="answer" type="radio" v-bind:value="optionindex" v-bind:name="index" v-model="userResponses[index]">
								   <div class="radiotext">{{response[0]}}</div>
								   <span class="checkmark"></span>
						  </label>
						</li>
					</div>
				</div>
			  </div>
			  <!-- Last page, test is finished, display result -->
			  <div class="singlecolumn" v-show="questionIndex === test.questions.length">
				<h2>Test complete</h2>
				<p>{{ score() }}</p>
				<p>You can <span class="refresh" v-on:click="refresh">take the test again</span> or <a href="index.html">return to the home page</a>.</p>
			  </div>
		  </div>
		</div>
	    <!-- Load Vue script -->
	    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
	    <!-- On load, init Vue -->
	    <script>
            window.onload=function(){
      
                // Create a test object with a title and two questions.
                // A question has one or more answer, and one or more is valid.
                var test = {questions: []};
      
                new Vue({
                el: '#app',
                data: {
                    test: test,
                    questionIndex: 0,
                    userResponses: Array(test.questions.length)
                },
                //Gets test title, questions and answers
                created: function()
                {
                    var url = "gettest.php?id=" + new URLSearchParams(window.location.search).get('id');
                    fetch(url).then(response => response.json()).then(responseJSON => {this.test.questions  = this.shuffle(responseJSON); 
                    for(let i = 0; i < this.test.questions.length; i++)
                        this.shuffle(this.test.questions[i].answers);});
                },
                // The view will trigger these methods on click
                methods: {
                    // Go to next question
                    next: function() {
                        this.questionIndex++;
                    },
                    // Go to previous question
                    prev: function() {
                        this.questionIndex--;
                    },
                    // Calculates and displays score
                    score: function() {
                        var correct = 0;

                        for (i = 0; i < this.userResponses.length; i++)
                        {
                            if(this.userResponses[i] != null && test.questions[i].answers[this.userResponses[i]][1] == 1)
                                correct++;
                        }

                        if(correct  > test.questions.length / 2)
                            return "Congratulations, you scored " + correct + "/" + test.questions.length + "!";
                        else
                            return "Unfortunately, you only scored " + correct + "/" + test.questions.length + ".";
                    },
                    // Refreshes test
                    refresh: function() {
                        this.questionIndex = 0;

                        for (i = 0; i < this.userResponses.length; i++)
                            this.userResponses[i] = null;
                    },
                    shuffle: function(array) {
                        let currentIndex = array.length,  randomIndex;

                        // While there remain elements to shuffle.
                        while (currentIndex != 0) {

                            // Pick a remaining element.
                            randomIndex = Math.floor(Math.random() * currentIndex);
                            currentIndex--;

                            // And swap it with the current element.
                            [array[currentIndex], array[randomIndex]] = [
                            array[randomIndex], array[currentIndex]];
                        }

                    return array;
                    },
                    gohome: function() {
                        window.location.href = '/index.html';
                    }
                }
                });
            }
        </script>
	</body>
</html>